<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>A Letter 4 my love</title>
        <link rel="stylesheet" href="/misc/fontawesome-free-5.15.2-web/css/all.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&family=Raleway:wght@100&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap" rel="stylesheet"> 
        <style>
            body {
                font-family: 'Cutive Mono', monospace;
                font-size: 16px;
            }
            p {
                text-align: justify;
                /*font-size: 16pt;*/
            }
            .red {
                color: #ff6b6b;
            }
            .expanded {
                letter-spacing: 5px;
                font-style: italic;
                margin: 0 .2rem;
            }

            small.second {
                font-style: italic;
            }
            .fas {
                font-size: .8rem;
            }
            small {
                color: #444444;
            }
        </style>
    </head>
    <body>
        <div id="app">
            <main>
                <p>
                    <strong>Querida Megan</strong>, espero que est&eacute;s bien en este d&iacute;a. No soy bueno con las palabras, 
                    <small class="second"><i>(bueeeeno con nada realmente)</i></small> pero tratar&eacute; de contarte algo en la 
                    presente, 1, 2, 3, ... <i class="fas fa-grimace"></i>. Hasta este punto no s&eacute; que escribirte, una carta de amor? 
                    una carta a Megan? o simplemente desearte Happy Birthday 🤔.
                </p>
                <p><small>Pero lemme mixed it up all together. !!!!</small></p>
                <p>
                    Babe, primerito que todo, God bless you mucho mucho, <small class="second"><i>y yo te lanzo un besito 
                    <i class="fas fa-kiss-wink-heart fa-lg"></i></i></small>, ya sabes que <span class="expanded">te <i class="fas fa-grin-hearts red"></i> much</span>o,
                    hoy en tu d&iacute;a de happy te deseo un morenito que te abrace y te de muchos besos forever, pero como no puedo estar a tu lado 
                    ese no es el deseo. Pues te desea que la pases super bien, <small class="second">aunque no este yo,</small> que Dios todo poderoso te colme de 
                    bendiciones y que cumpla tus deseos seg&uacute;n su voluntad. Las siguientes lineas para hacerte una bullita por tu birthday ...
                </p>
                <div style="display: flex; justify-content: center; align-items: center">
                    <p style="font-style: italic">
                        <i class="fas fa-music"></i> Happy birthday to you,<br/>
                        <i class="fas fa-music"></i> Happy birthday to you,<br/>
                        <i class="fas fa-music"></i> Happy birthday <strong>mi tesorito Ca.</strong><br/>
                        <i class="fas fa-music"></i> Happy birthday to you<br/>
                        <i class="fas fa-drum" style="color: green"></i> oooooooooooh! 🎉 🎊 </i> <i class="fas fa-drum" style="color: green"></i>
                    </p>
                    <span style="display: block;width: 40%; text-align: center">
                        <i class="fa fa-birthday-cake fa-4x red"></i><br/>
                        <small>Make a wish</small>
                    </span>
                </div>
                <p>
                    Pas&aacute;la super, super, super, super, super, super, super, super, super, super, super, super, super, super, super, super, super, super, super, super
                    bien, enjoy now, que alg&uacute;n d&iacute;a yo estar&eacute; there telling you happy birthday and giving you a kiss in those beautiful lips and putting
                    cake in your nose or face <i class="fas fa-laugh-beam"></i>, <small>I'm a good bad person, Juhahahahahahahaha</small>.
                    A big hug to my beautiful special curly hair friend <span style="text-transform: uppercase">Happy birthday</span> to you. <i class="fas fa-kiss-beam"></i><i class="fas fa-kiss-beam"></i>
                </p>
                <p>
                    Sorry porque no podr&eacute; estar contigo for now, I hope someday be, y que la pases igual de feliz un d&iacute;a con sorpresas.
                    Un a&ntilde;o m&aacute;s vieja que el a&ntilde;o pasado, viste que al leer la oraci&oacute;n anterior no te gust&oacute; pero es 
                    tu deseo que siempre te diga lo que siento <i class="fas fa-laugh-beam"></i>.
                </p>
                <p><small>Part 2: about <i class="fas fa-heart red"></i></small></p>
                <p>
                    Lo siento por tu madre, porque alguien robar&aacute;/quiere su tesoro m&aacute;s valioso. Seguir&aacute; siendo un tesoro valioso x2
                    solo que con amor re-dirigido. Gracias por elegirme, <small>lee lo siguiente en un rinc&oacute;n que nadie m&aacute;s pueda leerlo</small>, porque
                    te dir&eacute; un secreto que ya sabes, yo tambi&eacute;n te elijo a ti, me gustar&iacute;a estar contigo close all the time, 
                    tu shabes, dandote todos los besos que te debo y mucho m&aacute;s, quererte, cuidarte y siempre mantener nuestra relaci&oacute;n en balance.
                    Gracias por estar ah&iacute;, molestar me🤔, moldeando mi forma de pensar y ver las cosas (<small>Si, mucho trabajo falta y algunas cosas no cambiar&aacute;n, pero te caracteriza el power of will</small>).
                </p>
                <p>
                    No me gusta expresar ciertas cosas que pueda sentir, pero ya que esta es una carta y tu no estar&aacute;s viendo mi cara al leerla
                    po' me voy deboc&aacute;: tu me haces bien, me ciento suppa cool cuando estoy o hablo contigo, realmente me haces bien. Posiblemente seas
                    la costillita 😋 que me faltaba, quiz&aacute;s no estamos destinados, <i>as you said: "Quiz&aacute;s quienes tienen que eligir con quien estar somos nosotros mismos (cada quien)"</i>,
                    pero creo que hay una ayudita de alg&uacute;n lado, no s&eacute; alguna se&ntilde;al, comportamiento to figure it out the (queen o king)[terrenal way] for our live.
                    Encuentras en mi algo y piensas que soy el indicado para tratar de construir una relaci&oacute;n con proyecci&oacute;n a algo m&aacute;s big
                    (<small>No s&eacute; que ves en mi, te digo que no hay nada, pero puede ser que quien no ve lo hay is meeee, so keep goin'</small>).
                </p>
                <p>
                    You the electrized bulb that lighting up the dark side of me. You the one who wants to be happy with me. 
                    You the one who wants to share the best and bad moment of your live with Juanchi <i class="fas fa-surprise"></i>.
                    You the one who will be the mother of our children, 
                    <small>wait a minute, ...We have to be married for that... aaaaaaah !!roll this sentence back!! <i class="fas fa-running" style="color: #be4bdb"></i></small>.
                    You the one woman who sees the special that I am. You the one who is special to my eyes. You the one who estas buena mamasita <i class="fas fa-grin-stars red"></i>.
                    You the one who wants to be the pretty side of me. You the one who wants to be the sociable side of me.
                    You the morning, noon and afternoon of my day (<small>eeeeeeeeeeh, on future. <i>Megan's voice: nunca tanto :)</i> </small>).
                </p>
                <p>
                    He dicho mucho, pero no he dicho porque a Juanchi le gusta Ca. Que le gusta de Ca.&quest; well, 
                    primero que todo ella es especial, in all sense, me gusta de ella su amabilidad, sencillez, que yo le guste a ella, su sonrisa (catch me)
                    esas cualidades son lo que me gustan de ella y son el porque estoy con ella, a pesar de haber estado antes con ella and run away 
                    siempre fueron las cosas tuyas Ca. que me gustaban y me siguen gustando, adem&aacute;s hay algo que no puedo describir (con o sin palabras)
                    de ella is holding me up with her. Talvez sea mi voluntad a estar con ella o mi forma en como estoy viendo las cosas ahora.
                </p>
                <p>
                    Tell me always when I wrong, I'll do the same. Just let's keep goin' with the good comunication.
                </p>
                <p><small>Part 3: about her</small></p>
                <p>
                    Creo que depu&eacute;s de esta no volver&eacute; a encontrar cosas que decirte cuando estemos hablando, wow he escrito una carta y me ha tomado
                    varios d&iacute;as y ni siquiera la he termidado, !estoy oxidado!. More que puedo decirte de ti que tu no sepas? will you be at my side?
                    <small><i>Megan's voice: Quiero!</i></small> <i class="fas fa-laugh-beam"></i> como ya he dicho ella es the one o eso quiero que sea si no lo es.
                </p>

                <p>
                    <i class="fa fa-heart fa-4x red"></i> Eres todo amor, muy dulce para mi gusto pero tolerante, prefiero morir de diabete
                    contigo que sin Megan. Espero que no cambies o no sufras un cambio muy brusco de como eres ahora mismo. Me gusta la tu de ahora, 
                    tienes algo. Quiero compartir todo contigo, pero a&uacute;n no me decido completamente a dar ese paso. 
                </p>
                <p>
                    Tu eres hermosa a mis ojos, tu cabello rizo te queda muy bien, me gusta, me gustas porque eres sencilla y no veo en ti rastro de 
                    malicia (<small>a&uacute;n</small>) o envidia eso no lo tiene el 98% de las mujeres que conozco (<small>Sorry por la comparaci&oacute;n</small>).
                    Si pudiera ser un mes del a&ntilde;o tu ser&iacute;a mi 31, contigo morir&iacute;a. Sumas en mi algo que no es f&iacute;sico por lo que creo que es bueno
                    siempre me quedo mirandote cada vez que hablamos por v&iacute;deo llamada preguntandome si realmente yo te merezco, pregunta de la cual no tengo respuesta
                    pero cuando la tenga, si no es too late, te buscar&eacute; lo que no quiere decir que me voy alejar de ti, po' no ser&aacute; as&iacute; Joven no tan joven.  
                </p>
                <p>
                    De verdad que la pases super bien con tus amigas en tu cumple a&ntilde;o, estar&eacute; contigo desde aqu&iacute; (RD), aunque espero que nos veamos fuera de este
                    pa&iacute;s muy pronto. Que esta pandemia sea controlada para que se pueda dar m&aacute;s r&aacute;pido. Te quiero muchismo x2.
                </p>
                <p style="margin-top: 5rem; color: #444444;">
                    <small>
                        <i>Para Megan Valdez</i><br/>
                        <i>De Johanny Novas</i>
                    </small><br/>
                    <span style="font-size: 10px"><i>Martes 09 de Marzo del 2021</i></span>
                </p>
                <p style="font-size:1.3rem;text-align: right; margin-top: 5rem; color: #444444; font-family: 'Dancing Script', cursive;">
                    <i>"Come to my house and take me home."</i>
                </p>
            </main>
        </div>
    </body>
</html>