<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Template #3</title>
        <style>
            p {
                text-align: justify;
            }
            pre {
                background-color: #F0F0F0;
            }
            code {
                color:blue;
            }

        </style>
    </head>
    <body>
        <main id="app">
            <header-component title="I'm into the page header from header-component"></header-component>
    
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia accusantium possimus similique quae ducimus incidunt quas fugiat deserunt pariatur aperiam architecto voluptatem inventore, unde illo hic officiis! Corrupti, nostrum velit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quisquam rerum totam debitis rem a quia, laborum, ut, praesentium dolor voluptatem illum. Fugit quia saepe aspernatur hic suscipit atque esse?
            </p>

            <p>Using <a href="https://vuejs.org">Vue.js</a> you can put logic into your templates</p>
            <div>param#1: &lang;{{param1}}&rang;</div>
            <div>param#2: &lang;{{param2}}&rang;</div>
            <div>param#3: &lang;{{param3}}&rang;</div>
            <div>param#4: &lang;{{param4}}&rang;</div>
            <div>param#5: &lang;{{param5}}&rang;</div>
            <div>param#6: &lang;{{param6}}&rang;</div>
            <p>{{extraParams}}</p>
            <div>
                <pre>
                    <code>{{param7}}</code>
                </pre>
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Mollitia accusantium possimus similique quae ducimus incidunt quas fugiat deserunt pariatur aperiam architecto voluptatem inventore, unde illo hic officiis! Corrupti, nostrum velit.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni quisquam rerum totam debitis rem a quia, laborum, ut, praesentium dolor voluptatem illum. Fugit quia saepe aspernatur hic suscipit atque esse?
            </p>
            <p>
                <br/>
            <div>
                <h1>Test Component</h1>
                <test-component prop-top="Template #3"></test-component>
            </div>
                <br/>
                <br/>
                Lorem ipsum dolor sit,
            </p>
            
            <footer-component title="I'm into the page footer from footer-component"></footer-component>
        </main>